*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
nav{
    display: flex;
    background-color: #202020;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem;
}

nav img{
    padding: 1rem;
}
.btn1{
    background-color:green;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}
.container img{
    
    border-radius: 1rem;
}
.nav{
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 1rem;
}
.left{ 
    color: orange;
    
}
a{
    text-decoration: none;
    color: white;
    padding-left: 1rem;
}
.btn2{
    background-color:orange;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
    border: none;
}

h1{
    color: white;
    padding-left: 1rem;
    font-weight: 600;
}

p{
    color: white;
    padding-left: 1rem;
    font-weight: 500;
}

.col-md-6{
    display: flex;
    margin-top: 2rem;
    padding-left: 1rem;
    flex-direction: column;
    justify-content: center;

}

.col-md-4{
  margin-top: 1rem;
}

.btn3{
    background-color:orange;
    color: white;
    padding: 1rem 1rem;
    border-radius: 1rem ;
    border: none;
}

.box1{
    margin-top: 3rem;
    background-color: orange;
    border-radius: 1rem;
    padding: 0rem 1rem;
}
.box1 img{
    height: 5rem;
    width: 13rem;
    margin: 0;
    padding: 0;   
}

.box1 h3{
    margin-top: 1rem;
    padding-left: 1rem;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box1 p{
    padding-right: 4rem;
}

.box1 a{
    color: black;
    
}

.box2{
    margin-top: 3rem;
    background-color: red;
    border-radius: 1rem;

}

.box2 img{
    margin-bottom: 1rem;
}

.box2 h3{
    margin-top: 1rem;
    padding-left: 1rem;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box2 a{
    color: orange;
}

.box3{
    margin-top: 3rem;
    background-color: green;
    border-radius: 1rem;
}

.box3 h3{
    margin-top: 1rem;
    padding-left: 1rem;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box3 a{
    color: orange;
}

.box4{
    margin-top: 5rem;
    background-color: #202020;
    border-radius: 1rem;
}

.box4 img{
    padding-right: 2rem;
}

.box4 h5{
    margin-left: 1rem;
    margin-top: 1rem;
    color: orange;
}

.box4 h2{
    color: white;
    margin-left: 1rem;
}

.box4 a{
    color: orange;
}

.box5{
    margin-top: 5rem;
    background-color: #202020;
    border-radius: 1rem;
}

.box5 h5{
    margin-left: 1rem;
    margin-top: 1rem;
    color: orange;
}

.box5 h2{
    color: white;
    margin-left: 1rem;
}

.box5 a{
    color: orange;
} 

.col-md-6 section{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
}

.menu h1{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.menu span{
    color: orangered;
}

.menu p{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.menu .row{
    display: flex;
    justify-content: center;
}

.menu .row .col-md-3{
    margin-top: 3rem;
}
.menu .row .col-md-3 h3{
    color: white;
    font-weight: 600;
    margin-top: 1rem;
}

.menu .row .col-md-3 img{
    height: 20vh;
}
.menu .col-md-3 p{
    margin-bottom: 1rem;
}

.box6{
    background-color: #202020;
    border-radius: 1rem;
}
.box6:hover{
    background-color: orange;
}
.box7{
    background-color: #202020;
    border-radius: 1rem;
}
.box7:hover{
    background-color: orange;
}
.box7 img{
    margin-left: 5rem;
    margin-bottom: 1rem;
}
.box8{
    background-color: #202020;
    border-radius: 1rem;
}
.box8:hover{
    background-color: orange;
}
.box8 img{
    margin-left: 5rem;
    margin-bottom: 1rem;
}
.box9{
    background-color: #202020;
    border-radius: 1rem;
}
.box9:hover{
    background-color: orange;
}
.box9 img{
    margin-left: 3rem;
}
.box10{
    background-color: #202020 ;
    padding: 1rem;
    border-radius: 1rem;
}
.box10:hover{
    background-color: orange;
}
.box11{
    background-color: #202020 ;
    padding: 1rem;
    border-radius: 1rem;
}
.box11:hover{
    background-color: orange;
}
.box12{
    background-color: #202020 ;
    padding: 1rem;
    border-radius: 1rem;
}
.box12:hover{
    background-color: orange;
}

.service{
    margin-top: 4rem;
}
.service .col-md-6 h1{
    color: white;
}
.box13{
    background-color: #202020;
}
.box13 h4{
    color: white;
}

.box14{
    background-color: #202020;
    margin-top: 1rem;
}

.box14 h4{
    color: white;
}

.footer{
    background-color: #202020;
    margin-top: 8rem;
    padding-top: 5rem;
}

.footer .col-md-3 h5{
    margin-top: 1rem;
    color: white;
}

.footer .col-md-3 a{
    display: flex;
}

footer{
    display: flex;
}
footer .left{
    margin-left: 5rem;
}
footer .right{
    margin-left: 50rem;
}

@media screen and (max-width:768px) {
    .right{
        display: none;
    }
    
}